* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* Colors */
  --white: hsl(0, 0%, 100%);
  --slate-500: hsl(216, 15%, 48%);
  --slate-900: hsl(218, 44%, 22%);
  --slate-300: hsl(212, 45%, 89%);

  /* Topography */
  --ff-body: 'Outfit', sans-serif;
  --fs-15: 0.9rem;

  --fw-400: 400;
  --fw-700: 700;
}

body {
  align-items: center;
  background-color: var(--slate-300);
  display: grid;
  font-family: var(--ff-body);
  font-size: var(--fs-15);
  line-height: 1.4;
  padding: 1.6em;
  place-content: center;
  min-height: 100vh;
}

img {
  display: block;
  max-width: 100%;
}

.wrapper {
  max-width: 90rem;
  margin: 0 auto;
}

.card {
  background-color: var(--white);
  border-radius: 1em;
  box-shadow: 0 0 6em 0 hsla(217, 45%, 22%, 0.221);
  padding: 1em;
  max-width: 20rem;
}

.card__img {
  border-radius: 1em;
}

.card__content {
  text-align: center;
  padding: 1.25em;
}

.card__title {
  color: var(--slate-900);
  font-size: 1.3rem;
  line-height: 1.1;
  margin-block-end: 0.938em;
}

.card__desc {
  color: var(--slate-500);
  font-weight: var(--fw-400);
}
